body {
    font-family:monospace;
    background-color:#FEF3C6;
    margin: 0;
    padding: 20px
}
h1 {
font-family:fantasy;
  text-align: center;
  margin-bottom: 30px;
    color: #7B3306;
    font-family:cursive;
}
#contenedor-productos {
    display: flex;
    gap: 20px;
   justify-content: center;
    flex-wrap: wrap;
}
.productos-card {
    background: radial-gradient(circle, #ff7e5f, #fcceab);
    border-radius: 10px;
    box-shadow: 0 4px 8px #7B3306;
    padding: 15px;
    width: 200px;
    text-align: center;
}
.productos-card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 8px;
}
button {
    background-color:#E1712B;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
h2 {
    font-size: 20px;
    margin: 10px 0;
    font-family:monospace;
    color: rgb(51, 5, 5);
}
p {
    font-size: 16px;
    color: #000000;
    margin: 5px 0;
    font-family: monospace;
}